body{
    width: 100%;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
.heroBg{
    position: absolute;
    left: 0;
    bottom: -185px;
    filter: blur(50px);
}
.heroBg1{
    position: absolute;
    top: 0;
    filter: blur(50px);
}
.heroBg2{
    position: absolute;
    filter: blur(50px);
    right: 0;
    top: 0;
}



.background-container {
    width: 100%;
    min-height: 10vh; /* Adjust as needed */
    background-image: url('./assets/BgGradient/center.png'), url('./assets/BgGradient/left.png'), url('./assets/BgGradient/right.png');
    background-position: center, bottom left, top right; /* Adjust as needed */
    background-size: cover, contain, auto; /* Adjust as needed */
    background-repeat: no-repeat, no-repeat, no-repeat; /* Adjust as needed */
    background-color: black;
  }


  .navlink{
    position: relative;
  }
  .navlink::after{
    content: '';
    width: 0%;
    height: 3px;
    position: absolute;
    background: linear-gradient(to right, #96bbba, #4bded2);
    bottom: 0;
    transition: all ease-in-out 0.5s;
    left: 0;    
  }
  .navlink:hover::after{
    width: 100%;
  }


  .navbar-scroll {
    background-color: black; /* Set your desired background color */
    padding: 15px; /* Set your desired padding */
    /* Add additional styles for the scrolled state */
  }



  .navbar {
    position: sticky;
    top: 0;
    width: 100%;
    color: #fff; /* Default text color */
    transition: transform 0.4s ease, opacity 0.3s ease; /* Smooth hide/show */
    z-index: 1000; /* Ensure it's on top */
}

/* When scrolling down, hide the navbar */
.navbar.hide {
    transform: translateY(-100%);
    opacity: 0;
}

/* When not scrolling or scrolling up, show the navbar */
.navbar.show {
    transform: translateY(0);
    opacity: 1;
}
.navbar:hover{
  opacity: 1;
}



#slider div svg:hover{
  scale: 1.2;
  transition: all 0.3s;
}

#slider div svg{
  padding: 0.2rem 0;
  border-radius: 0.5rem;
}

.aboutMeImg{
  width: 700px;
  object-fit: cover;
  position: absolute;
  border-radius: 1rem;
  aspect-ratio: 3/4;
}

.aboutMeImgDiv{
  width: 380px;
  height: 420px;
  overflow: hidden;
  border-radius: 1rem;
  position: relative;
}